name: Publish API docs

on: [push, pull_request, workflow_dispatch]

env:
  HADDOCK_DIR: haddock-html
  PAGES_DIR: gh-pages

jobs:

  haddock:
    runs-on: ubuntu-20.04
    steps:

    - name: Set up haskell
      uses: haskell/actions/setup@v2
      with:
        ghc-version: '9.2.7'
        cabal-version: '3.6.2.0'

    - name: Checkout repository content
      uses: actions/checkout@v3

    - name: Prepare cabal
      run: cabal update

    - name: Generate haddock API docs
      run: cabal haddock --builddir=haddock_build --haddock-hyperlinked-source --haddock-html-location='https://hackage.haskell.org/package/$pkg-$version/docs'

    - name: Find generated HTML
      run: mv $(find haddock_build -wholename '*doc/html/circular-enum' | head -n 1) $HADDOCK_DIR

    - name: Store generated API docs
      uses: actions/upload-artifact@v3
      with:
        path: ${{ env.HADDOCK_DIR }}
        name: haddock-html

  deploy-pages:
    needs: haddock
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:

      - name: Load API docs
        uses: actions/download-artifact@v3
        with:
          name: haddock-html
          path: ${{ env.PAGES_DIR }}

      - name: Disable GitHub Pages' Jekyll
        run: touch $PAGES_DIR/.nojekyll

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: ${{ env.PAGES_DIR }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
